<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="fcu.app.i_ching.TestDocumentProvider"
            android:authorities="fcu.app.i_ching.test.documents"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
